<nav
  class="navbar navbar-light"
  style="background-color: #11acc4; color: white"
>
  <div class="container-fluid">
    <img class="ms-5" src="../assets/logo.png" style="width: 128px" alt="" />
    <form class="d-flex">
      <span class="my-auto me-4">Personajes</span>
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
    </form>
  </div>
</nav>

<div class="container-fluid w-100" style="background-color: #424242;">
  <div class="container-fluid w-80 m-auto" style="background-color: white;">
    <div class="row g-0">

    </div>
    <div class="row g-0 justify-content-center">
      <div class="col">
        <nav class="d-flex" aria-label="Page navigation example">
          <ul class="m-auto pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">8</a></li>
            <li class="page-item"><a class="page-link" href="#">9</a></li>
            <li class="page-item"><a class="page-link" href="#">10</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid w-100 d-flex flex-column" style="background-color: #EAEAEA; height: 200px;">
  <div class="row w-100 m-auto align-items-center">
      <div class="col-12 d-flex">
        <div class="mx-auto" style="font-size: 2rem;">
          <i class="me-4 bi bi-facebook"></i>
          <i class="me-4 bi bi-instagram"></i>
          <i class="me-4 bi bi-youtube"></i>
        </div>
      </div>
      <div class="col-12 d-flex">
        <span class="mx-auto">¡siguenos en nuestras redes sociales!</span>
      </div>
      <div class="col-12 d-flex">
        <span class="mx-auto">Rick and Morty fans © 2021</span>
      </div>
  </div>
</div>
